# Python build and cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments (Matches your actual .venv folder)
.venv/
venv/
ENV/
.env

# Database + local media caches
videowatch.db
cookies/
thumbcache/

# Code Editor settings
.vscode/
*.swp

# JavaScript dependencies
node_modules/